ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

.nav-link {
  text-decoration: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  padding: 10px 15px 10px 15px;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 26px;
}

.brand-image {
  height: 40px;
  width: 40px;
}
